{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}


{% load static %}

<section class="section">
    <section class="container">


        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4>Welcome to the marketplace</h4>
                    <p>Explore placements by various listed companies</p>
                    <img src="{% static 'stock.jpg' %}" alt="" class="responsive-img fade-in">
                </div>
            </div>
        </div>


        <div class="row">
            {% for p in placements %}
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-content center-align">
                        <span class="card-title">{{ p.placement_company }}</span>
                        <p><strong>Added:</strong> {{ p.placement_created }}</p>
                        <p><strong>Modified:</strong> {{ p.placement_modified }}</p>
                    </div>
                    <div class="card-action center-align">
                        <a href="{% url 'app:placement-detail' p.placement_slug %}"
                            class="btn pink waves-effect black">View Details</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>


    </section>
</section>


{% endblock content %}